*{
  margin: 0;
  padding: 0;
}

.menu-container{
  background-color: rgb(34, 30, 30);
  padding: 20px 140px;
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-photo{
  width: 150px;
}

.menus{
  display: flex;
  justify-content: space-between;
}

.menus > li{
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}

.menus > li:hover{
  color: rgb(199, 67, 93);
}

/* banner section */

.banner{
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  background-image: url("images/background.png"), linear-gradient(45deg, #000, #382c2c);
}

.left-div > button{
  border: none;
  background-color: red;
  padding: 12px 16px;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  margin-top: 15px;
}

.left-div > h1{
  font-size: 50px;
  width: 450px;
  color: white;
}

.left-div > p{
  color: white;
  margin-top: 15px;
}

.right-div > img{
  width: 300px;
}